@import "tailwindcss";

.container {
  @apply w-full max-w-lg mx-auto px-5;
}

@font-face {
  font-family: SF_Pro_Display_Bold;
  src: url(./lib/fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: SF_Pro_Display_Normal;
  src: url(./lib/fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: Montserrat_Regular;
  src: url(./lib/fonts/montmed.ttf);
}

@font-face {
  font-family: Raleway_Extrabold;
  src: url(./lib/fonts/raleway.extrabold.ttf);
}

@font-face {
  font-family: Nunito_Sans_SemiBold;
  src: url(./lib/fonts/NunitoSans-SemiBold.ttf);
}

.SF_Pro_Display_Bold {
  font-family: SF_Pro_Display_Bold;
}

.SF_Pro_Display_Normal {
  font-family: SF_Pro_Display_Normal;
}

.Montserrat_Regular {
  font-family: Montserrat_Regular;
}

.Raleway_Extrabold {
  font-family: Raleway_Extrabold;
}

.Nunito_Sans_SemiBold {
  font-family: Nunito_Sans_SemiBold;
}
